	html, body {
		height: 100%;
	}

	body {
		margin: 0px;
		padding: 0px;
		background: #5282C7;
		font-family: 'Montserrat', sans-serif;
		font-size: 11pt;
		font-weight: 200;
		color: #5282c7;
	}


	h1, h2, h3 {
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}

	p, ol, ul {
		margin-top: 0;
	}

	ol, ul {
		padding: 0;
		list-style: none;
	}

	ul.actions {
		text-align: center;
	}

	p {
		line-height: 180%;
	}

	a {
		color: #0000FF;
	}

	a:hover {
		text-decoration: none;
	}

	.container {
		overflow: hidden;
		margin: 0em auto;
		/* width: 1000px; */
		max-width: 1000px;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}

	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/
input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
	padding-left: 1.35em;
}

	input[type="submit"].icon:before,
	input[type="reset"].icon:before,
	input[type="button"].icon:before,
	button.icon:before,
	.button.icon:before {
		margin-right: 0.5em;
	}


.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}

	.my_social ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		.my_social ul li {
			padding-left: 0.5em;
		}

		.my_social ul.alt {
			list-style: none;
			padding-left: 0;
		}

			.my_social ul.alt li {
				border-top: solid 1px #dbdbdb;
				padding: 0.5em 0;
			}

				.my_social ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}
	.my_social ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

	.my_social	ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}

			.my_social ul.icons li:last-child {
				padding-right: 0;
			}

			.my_social ul.icons li .icon:before {
				font-size: 2em;
			}

			@media screen and (max-width: 480px) {

			.my_social ul.actions li > *.icon:before {
				margin-left: -2em;
			}
}
.my_social ul.icons li .icon {
	font-size: 0.58em;
}
.my_social ul {
	list-style: none;
}
.my_social {
	color: #9a9a9a;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 300;
	line-height: 1.65;
	font-size: 100%;

	font: inherit;

}
@media screen and (max-width: 736px) {

	.my_social ul {
		-ms-flex-order: 1;
		-moz-order: 1;
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}

	.my_social .flex {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;

		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;



	}
}


	/* ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; } */

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #79C255;
		border-radius: 8px;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}

	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}

	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}

	.box1,
	.box2,
	.box3 {
		float: left;
		margin-right: 20px;
	}

	.box4
	{
		float: right;
	}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}

	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}

	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	#wrapper
	{
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 4em;
		left: 0;
	}

	#logo h1
	{
		color: #79C255;
	}

	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #79C255;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #2B3F48;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #2B3F48;
	}

	#menu .current_page_item a
	{
		border: 2px solid #79C255;
		background: #79C255;
		border-radius: 6px;
		color: #FFF;
	}

	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/SeruesCup2020.jpeg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
		/* height: 750px; */
	}

	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}

	#banner .button
	{
		margin-top: 3em;
		background: #589937 !important;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 2em 0em 5em 0em;
		text-align: center;
	}

	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	.icons {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.icons i {
		color: #fff;
		font-size: 1.5em;
		margin: 0 8px;
		border: 3px solid #fff;
		border-radius: 50%;
		width: 1em;
		height: 1em;
		padding: 10px;
		text-align: center;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}

	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured {
		overflow: hidden;
		padding: 15em;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	#featured a {
		color: rgba(255,255,255,1);
	}

	#featured .button {
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #fff;
	}

	#featured .title {
		margin: 0;
	}

	#featured .title h2 {
		color: #FFF;
	}

	#featured .title .byline {
		color: #ddd;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box {
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
	text-align: center;
}


	#extra {
		overflow: hidden;
		padding: 5em 0em;
	}

	#extra .title {
		text-align: center;
	}

	#extra .fa {
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}

	.gallery {
		overflow: hidden;
		margin-bottom: 3em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: space-between;
	}

	.gallery__img {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 200px;
		width: 100%;
		margin: 0 10px;
	}

	.gallery__img1 {
		background-image: url('images/pic01.jpg');
	}

	.gallery__img2 {
		background-image: url('images/pic02.jpg');
	}

	.gallery__img3 {
		background-image: url('images/pic03.jpg');
	}

	.action {
		text-align: center;
	}

	/***************/

	.inner {
		max-width: 75em;
		margin: 0 auto;
	}
	@media screen and (max-width: 1280px) {

		.inner {
			max-width: 90%;
		}

	}

	@media screen and (max-width: 480px) {

		.inner {
			max-width: 85%;
		}

	}

	#header .inner {
		margin: 0 auto;
		position: relative;
	}

	#footer .inner {
		border-top: 1px solid #dbdbdb;
		padding-top: 3em;
	}

	/***************/
	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

	.flex.flex-4 .box {
		width: 21%;
	}

	@media screen and (max-width: 980px) {
	.flex.flex-4 .box {
		width: 47%;
	}
}
@media screen and (max-width: 480px) {

	.flex.flex-4 .box {
		width: 100%;
	}

}

.box {
	border: solid 1px #dbdbdb;
	margin-bottom: 2em;
	padding: 1.5em;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}
.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

.box.person {
	border: solid 1px rgba(255, 255, 255, 0.25);
	padding: 1.5em;
}

.box.person h3 {
	margin: 0;
}

.box.person .image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
	width: 100%;
	margin-bottom: 1em;
	border-radius: 8px;
}

.box.person .image__jeremey {
	/* missing image */
}

.box.person .image__lou {
	/* missing image */
}

.box.person .image__andrew {
	/* missing image */
}

.box.person .image__ryan {
	background-image: url('images/profiles/RyanKish.jpg');
}

.box.person .image__alyson {
	/* missing image */
}

.box.person .image__conor {
	/* missing image */
}


	.box.person .image img {
		max-width: 100%;
			}
	.image {
			border-radius: 0;
			border: 0;
			display: inline-block;
			position: relative;
		}

		.image img {
				border-radius: 0;
				display: block;
		}

		.image.left, .image.right {
				max-width: 40%;
		}

		.image.left img, .image.right img {
			width: 100%;
		}

	.image.round img {
		border-radius: 100%;
	}

	.image.left {
		float: left;
		padding: 0 1.5em 1em 0;
		top: 0.25em;
	}

	.image.right {
		float: right;
		padding: 0 0 1em 1.5em;
		top: 0.25em;
	}
	.image.fit {
		display: block;
		margin: 0 0 2em 0;
		width: 100%;
	}

		.image.fit img {
			width: 100%;
		}

	.image.main {
		display: block;
		margin: 0 0 3em 0;
		width: 100%;
	}

		.image.main img {
			width: 100%;
		}

		section.special, article.special {
			text-align: center;
		}

			section.special article, article.special article {
				text-align: left;
			}

		section.wrapper, article.wrapper {
			padding: 6em 0;
		}

			section.wrapper header, article.wrapper header {
				margin-bottom: 4em;
			}

				section.wrapper header h2, article.wrapper header h2 {
					font-size: 2.75em;
					margin: 0 0 .5em 0;
				}

				section.wrapper header p, article.wrapper header p {
					font-size: 1em;
				}

			section.wrapper article header, article.wrapper article header {
				margin: 0;
			}

			section.wrapper.style1, article.wrapper.style1 {
				background: #5385c1;
				color: #bacee6;
			}

				section.wrapper.style1 header h2, article.wrapper.style1 header h2 {
					color: #fff;
				}

				section.wrapper.style1 header p, article.wrapper.style1 header p {
					color: #bacee6;
				}

				section.wrapper.style1 h3, article.wrapper.style1 h3 {
					color: #FFF;
				}

			@media screen and (max-width: 980px) {

				section.wrapper, article.wrapper {
					padding: 2em 0;
				}

			}

			@media screen and (max-width: 736px) {

				section.wrapper header, article.wrapper header {
					margin-bottom: 2em;
				}

					section.wrapper header h2, article.wrapper header h2 {
						font-size: 2em;
					}

					section.wrapper header p, article.wrapper header p {
						font-size: .9em;
					}

			}

			@media screen and (max-width: 480px) {

				section.wrapper, article.wrapper {
					text-align: center;
				}

					section.wrapper article, article.wrapper article {
						text-align: center;
					}

			}
